<div id="toolbar">
  <div class="pull-left">
    <a class="btn btn-info btn-small" href="#/upload">
      <i class="fa fa-cloud-upload"></i>
    </a>
  </div>
  <ul id="display-modes" class="pull-right">
    <li ng-repeat="option in displayModes">
      <button class="btn btn-info btn-small" title="{{option.title}}" ng-click="changeDisplay(option.id)">
        <i class = "fa {{option.fa}}"></i>
      </button>
    </li>
  </ul>
</div>

<div id="file-list">

  <div class="wrapper">
    <file-thumbnails ng-if="activeDisplay == 'thumb'"> </file-thumbnails>
    <file-expanded ng-if ="activeDisplay =='expand'"> </file-expanded>
    <file-list ng-if="activeDisplay =='list'"> </file-list>
  </div>

</div>
